@import '@/shared/common/variables/sizes';
@import '@/shared/common/variables/typography';

$paddingLi: $size-e-s;

.seven-vertical-menu {
  position: relative;
  z-index: 10;
  list-style-type: none;
  padding: $paddingLi;
  margin: 0;
  li {
    position: relative;
    cursor: pointer;
    @include menu-item-size();

    &::before {
      position: absolute;
      right: calc(100% + 3px);
      bottom: -30%;
      z-index: 10;
      visibility: hidden;
      content: url('/img/cursors/FF7Cursor.png');
    }

    &:hover {
      &::before {
        visibility: visible;
      }
    }

    &:not(:last-child) {
      //margin-bottom: 15px;
      @media (max-width: 1024px) {
        //margin-bottom: 10px;
      }
    }
  }
}
