// Container Aspect Ratio
$containerMaxWidth: 1080px;
$containerWidth: 95vw;
$containerMaxHeight: calc((#{$containerMaxWidth} * 3) / 4);
$containerHeight: calc((#{$containerWidth} * 3) / 4);

// Volumes
$size-xxxs: 0.5rem;
$size-xxs: 1rem;
$size-xs: 1.5rem;
$size-s: 2rem;
$size-m: 2.5rem;
$size-l: 3rem;
$size-xl: 3.5rem;
$size-xxl: 4rem;
$size-xxxl: 4.5rem;

// Shadows
$shadow-standard: 0px 4px 10px rgba(0, 0, 0, 0.06);
$shadow-medium: 2px 6px 16px rgba(0, 0, 0, 0.1);
