@import './variables.scss';

$main-font: 'Reactor7', Arial, sans-serif;
$main-line-height: 0.9;
$title-line-height: 1;

@mixin title-size {
  font-family: $main-font;
  font-size: 1.5em;
  line-height: $title-line-height;
  font-weight: 400;
  letter-spacing: 0.01em;
  text-shadow: $shadow-standard;

  &:not([class]):not(:last-child):not(:only-child) {
    margin-bottom: 4px;
  }
  @media (max-width: 992px) {
    font-size: 1.2em;
  }
}

@mixin paragraph-size {
  font-family: $main-font;
  font-size: 0.8em;
  line-height: $main-line-height;
  font-weight: 200;
  letter-spacing: 0.01em;
  text-shadow: $shadow-standard;

  &:not([class]):not(:last-child):not(:only-child) {
    margin-bottom: 4px;
  }
  @media (max-width: 992px) {
    font-size: 0.6em;
  }
}

@mixin menu-item-size {
  font-family: $main-font;
  font-size: 0.85em;
  line-height: 1.15;
  font-weight: 200;
  letter-spacing: 0.01em;
  text-shadow: $shadow-standard;

  &:not([class]):not(:last-child):not(:only-child) {
    margin-bottom: 4px;
  }
  @media (max-width: 992px) {
    font-size: 0.7em;
  }
}

@mixin button-size {
  font-family: $main-font;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: $shadow-standard;

  &:not([class]):not(:last-child):not(:only-child) {
    margin-bottom: 4px;
  }
  @media (max-width: 992px) {
    font-size: 20px;
  }
}
