@import './colors.scss';

// Shadows
$shadow-standard: 2px 2px 1px rgba(0, 0, 0, 1);
$shadow-double: calc(#{$shadow-standard} * 2) calc(#{$shadow-standard} * 2) 1px
  rgba(0, 0, 0, 1);

//Borders
$border-weight: 2px;
$border-color: $color-white;

@function main-border-standard() {
  @return solid $border-weight $border-color;
}
