@import '@/shared/common/variables/sizes';

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  margin: 15px auto;
  max-width: $containerMaxWidth;
  max-height: $containerMaxHeight;
  width: $containerWidth;
  height: $containerHeight;
}
