.selectionable-item {
  position: relative;
  z-index: 5;

  &::before {
		position: absolute;
    right: calc(100% + -12px);
    height: 100%;
    bottom: -8px;
    z-index: 10;
    visibility: hidden;
    content: url('/img/cursors/FF7Cursor.png');
		display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    &::before {
      visibility: visible;
    }
  }
}
