.transparent-area {
  background-color: transparent;
  position: relative;
  &--index-section {
    display: flex;
    flex: 0.15;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}
